.header-top{
    display: flex;
    background-color: #0282f9;
    padding: 5px;
}

.header-menu{
    display: flex;
}

.header-list{
    display: flex;
    li{
        margin-right: 30px;
        list-style: none;
    }
}